#topo{
    border: 1px solid ;
    border-radius: 50px;
    
    }
    
    body{
        font-size: 2em;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #nome {
        text-align: center;
        position: absolute;
        top: 35%;
        left: 15%;
        color: rgba(255, 255, 255, 0.945);
    }
    
    #profissao{
        text-align: center;
        position: absolute;
        top: 45%;
        left: 15%;
        color: rgba(255, 255, 255, 0.945);
    }
    
    #idade{
        text-align: center;
        position: absolute;
        top: 55%;
        left: 15%;
        color: rgba(255, 255, 255, 0.945);
    }
    
    :root {
        --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
        --motion-duration: 0.3s;
      }
      
      * {
        box-sizing: border-box;
      }
      
      body {
        align-items: center;
        background: rgb(37,43,50);
        background: linear-gradient(90deg, rgba(37,43,50,1) 14%, rgba(76,19,98,0.958420868347339) 56%, rgba(41,50,37,1) 91%);
        display: flex;
        font-family: 'Rubik', sans-serif;
      }
      
      button {
        appearance: none;
        background: transparent;
        border: 0;
        color: #fff;
        cursor: pointer;
        font: inherit;
        font-weight: 500;
        line-height: 1;
        padding: 1em 1.5em;
        position: relative;
        transition: filter var(--motion-duration);
      }
      
      
      button > span {
        display: block;
        position: relative;
        transition: transform var(--motion-duration) var(--motion-ease);
        z-index: 1;
      }
      
     
      button > svg {
        fill: #950cde;
        position: absolute;
        width: 98%;
        height: 110%;
        top: 2%;
        left: 90%;
      }
    
      #atualizar{
        left: 190px;
        width: 110%;
        
      }
      
      button:hover > svg > path {
        d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
      }



      #img{
        text-align: center;
        position: absolute;
        top: 22%;
        left: 60%;
      }
      
      